﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="APITest.aspx.cs" Inherits="WebAPI.APITest" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
     <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        $.ajax({

            type: 'GET',
            url: './Service1.svc/GetData2',
            data: 'value=c:\\ZeroSim2.txt',
            success: function (data, textStatus, xhr) {
                alert("sucsess\n" + data[0] + "," + data[1]);

            }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("failed\n" + "XMLHttpRequest : " + XMLHttpRequest.status + "\ntextStatus : " + textStatus + "\nerrorThrown : " + errorThrown.message);

            },
        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
